<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('login.static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('login.static',filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7 col-sm-9 col-10">
                <div class="card shadow-lg px-4">
                    <div class="card-body">
                        <div class="mb-3 mt-2 h3">
                            Create Account
                        </div>
                        <section>
                            <div>Password Requirements</div>
                            <ul>
                                <li>A minimum of 10 characters</li>
                                <li>A numeric character</li>
                                <li>A lowercase character</li>
                                <li>A special character</li>
                                <li>An uppercase character</li>
                                <li>An alphabetic character</li>
                            </ul>
                        </section>
                        <form>
                            <div class="mb-2 form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Enter email">
                                <label for="email">Email address</label>
                            </div>
                            <div class="mb-2 form-floating">
                                <input type="password" class="form-control" id="password" placeholder="Password"
                                    autocomplete="on">
                                <label for="password">Password</label>
                            </div>
                            <div class="mb-4 form-floating">
                                <input type="password" class="form-control" id="verify-password"
                                    placeholder="Verify Password" autocomplete="on">
                                <label for="verify-password">Verify Password</label>
                            </div>
                            <div class="mb-3 d-grid gap-2 d-lg-block d-md-block">
                                <div class="btn btn-primary btn-md col-lg-5 col-md-5" onclick="create_account();">Sign
                                    Up</div>
                                <a href="/login/"
                                    class="btn btn-secondary opacity-75 btn-md col-lg-5 col-md-5">Cancel</a>
                            </div>
                            <div class="warn mb-2" id="warn"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('login.static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('login.static',filename='js/script.js')}}"></script>
</body>

</html>