<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="login-container">
        <h3 class="mb-4">SIGN UP</h3>
        <form>
            <div class="form-group">
                <input type="email" id="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" id="pw" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" id="pw-confirm" class="form-control" placeholder="Verify Password">
            </div>
            <div class="options-container" style="padding: 0px;">
                <div type="submit" class="btn btn-primary btn-block" onclick="create_account();">CONFIRM</div>
                <a href="/login/">
                    <div type="submit" class="btn btn-primary btn-block">CANCEL</div>
                </a>
            </div>
        </form>
    </div>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>