* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 100vh means 100% of window height */
    min-height: 100vh;
    font-size: 16px;
    text-align: center;
    color: black;
    background-color: #F0FFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.login-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-top: 15px;
    margin-bottom: 15px;
}

.options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn {
    font-size: 14px;
    width: 150px;
}

.btn-full-width {
    width: 100%;
}

.forget-password {
    margin-top: 15px;
    font-size: 14px;
}