* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    align-items: center;
    /* 100vh means 100% of window height */
    min-height: 100vh;
    font-size: 16px;
    text-align: center;
    color: black;
    background-color: #F0FFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    background-color: #def3f8;
}

section {
    text-align: left;
    margin-left: 15px;
}

.acc-warn,
.email-warn,
.pw-warn,
.warn {
    color: red;
    display: none;
}

#hidden-email {
    display: none;
}