<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Manager</title>
    <link rel="stylesheet" href="{{ url_for('main.static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('main.static',filename='css/styles.css') }}">
</head>

<body>
    <h3>Welcome to Job Application Manager</h3>
    <div>{{email_address}}</div>
    <div>{{password}}</div>
    <script src="{{ url_for('main.static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('main.static',filename='js/script.js')}}"></script>
</body>

</html>