<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Manager</title>
    <link rel="stylesheet" href="{{ url_for('main.static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('main.static',filename='css/styles.css') }}">
</head>

<body>
    <h3>Welcome to Job Application Manager</h3>
    <div id="email"></div>
    <div id="password"></div>
    <script src="{{ url_for('main.static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('main.static',filename='js/script.js')}}"></script>
    <script>
        let urlParams = new URLSearchParams(window.location.search);
        let email = atob(urlParams.get('email'));
        let password = atob(urlParams.get('password'));
        document.getElementById('email').textContent = email;
        document.getElementById('password').textContent = password;
    </script>
</body>

</html>